@import './variables.scss';

html {
  font-family: $roboto;
}

html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  color: $body-color;
  z-index: 0;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0 2.5rem;
  box-sizing: border-box;
  height: 100vh;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

p {
  margin-top: 0;
}

a {
  color: $link-color;
}

main {
  height: 100%;
  overflow: scroll;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.content {
  padding: 1rem 1rem;
  background-color: rgba($white, 0.3);
}
