@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

// Typography
$roboto: 'Roboto', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$body-bg: #c9c3af;
$body-color: #323426;
$content-bg: #d4d2bf;
// $body-color: rgba(, 0.6);
// $body-color: rgba(#1b1d16, 0.8);
$inactive-color: rgba($body-color, 0.15);
// $link-color: #cb6751;
$link-color: #a04231;

// Animations
$hover-animation-duration: 0.3s;
$grow-and-shrink-duration: 10s;
