@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

// Typography
$roboto: 'Roboto', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$body-bg: rgba(201, 195, 175, 1);
$body-color: rgba(50, 52, 38, 1);
$inactive-color: rgba($body-color, 0.15);

// Animations
$hover-animation-duration: 0.3s;
$grow-and-shrink-duration: 10s;
